{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "decorators": true,
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2019" // or other target versions
  },
  "module": {
    "type": "es6",
    "strict": true
  }
}
